{% extends "layout.html" %}

{% block head %}
<title>OSP Hub</title>
<meta name="twitter:card" content="app" />
<meta property="og:site_name" content="Open Streaming Platform Hub" />
<meta property="og:title" content="Open Streaming Platform Hub" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url|normalize_url}}" />
<meta property="og:image" content="{{request.url_root|normalize_urlroot}}/static/img/logo.png" />
{% endblock %}

{% block body %}

<div class="container-fluid p-2" id="index-live-container">
    <div class="jumbotron shadow mt-2 p-3">
        <div class="row p-2">
            <div>
                <h2 class="display-5"><b>Server Message</b></h2>
            </div>
        </div>
        <div class="row p-2">
            <div>
                OSP Hub in Development
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="index-live-title"><a href="/streams"><b>Top Live Streams</b></a></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% if streamList == [] %}
            No Live Streams Online...
            {% endif %}
            {% for stream in streamList %}
                <div class="displayCard py-1 pr-2">
                    <a href="{{ stream.location }}">
                    <img class="shadow lazy zoom" {% if stream.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="{{ stream.img }}">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{stream.name|limit_title}}</b></div>
                        <i class="fas fa-video mr-2"></i> {{stream.channel.name}}<br>
                        <i class="fas fa-hashtag mr-2"></i> {{stream.topic|get_topicName}}<br>
                        <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span> {% if stream.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer pt-2">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{stream.upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-eye"></i> {{stream.currentViewers}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{stream.views}}</span>
                        </span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><a href="/channels"><b>Popular Channels</b></a></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for channel in channelList %}
                <div class="displayCard py-1 pr-1">
                    <a href="{{channel.location}}/">
                    <img class="shadow lazy zoom" src="{{channel.img}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{channel.name}}</b></div>
                        {{channel.topic|get_topicName}}<br>
                        <b> {{channel.streamer|get_userName}}</b><br>
                        {% if channel.streams|length > 0 %}
                            <span class="badge badge-danger"><i class="fas fa-video"></i> Live</span>
                        {% else %}
                            <span class="badge badge-secondary"><i class="fas fa-video-slash"></i> Offline</span>
                        {% endif %}
                        {% if channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer">
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{channel.views}}</span>
                        </span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><a href="/videos"><b>Popular Videos</b></a></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for video in videoList %}
                <div class="displayCard py-1 pr-1">
                    <a href="{{ video.location }}">
                    <img class="shadow lazy zoom" {% if video.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="{{ video.img }}">
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{video.name|limit_title}}</b></div>
                        <i class="fas fa-video mr-2"></i> {{video.channel.name}}<br>
                        <i class="fas fa-hashtag mr-2"></i> {{video.topic|get_topicName}}<br>
                        {% if video.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{video.upvotes}} </span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{video.views}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{video.length|hms_format}}</span>
                        </span>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid p-2" id="index-videos-container">
    <div class="row m-2">
        <div class="index-video-title"><a href="/clips"><b>Popular Clips</b></a></div>
    </div>
    <div class="row mx-2">
        <div class="d-flex flex-wrap justify-content-start">
            {% for clip in clipList %}
            <div class="displayCard py-1 pr-1">
                <a href="{{ clip.location }}">
                    <div>
                        <img class="shadow lazy zoom" {% if clip.video.channel.protected %} src="/static/img/video-locked.jpg" onerror="this.src='/static/img/video-locked.jpg';" {% else %} src="/static/img/video-placeholder.jpg"
                            onerror="this.src='/static/img/video-placeholder.jpg';" {% endif %} data-src="{{ clip.img }}">
                    </div>
                    <div class="card-data">
                        <div class="card-cut-text"><b>{{clip.name|limit_title}}</b></div>
                        <i class="fas fa-video mr-2"></i> {{clip.video.channel.name}}<br>
                        <i class="fas fa-hashtag mr-2"></i> {{clip.video.topic|get_topicName}}<br>
                        {% if clip.video.channel.protected %}<span class="badge badge-warning"><i class="fas fa-user-lock"></i> Protected</span>{% endif %}<br>
                        <span class="displayCard-footer">
                            <span class="px-2 flex-fill"><i class="fas fa-thumbs-up"></i> {{clip.upvotes}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-users"></i> {{clip.views}}</span>
                            <span class="px-2 flex-fill"><i class="fas fa-clock"></i> {{clip.length|hms_format}}</span>
                        </span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

